In [1]:
from datetime import date
import calendar
import pandas as pd

https://python-holidays.readthedocs.io

https://pypi.org/project/work-calendar-ru/

In [2]:
# rest_days = holidays.RU()

In [3]:
years = range(2012, 2024)

In [4]:
our_calendar = calendar.Calendar()

In [5]:
list(range(1, 6))

[1, 2, 3, 4, 5]

Статьей 112 Трудового кодекса Российской Федерации (в редакции от 23.04.2012) установлены следующие нерабочие праздничные дни в Российской Федерации:
- 1, 2, 3, 4, 5, 6 и 8 января — Новогодние каникулы;
- 7 января — Рождество Христово;
- 23 февраля — День защитника Отечества;
- 8 марта — Международный женский день;
- 1 мая — Праздник Весны и Труда;
- 9 мая — День Победы;
- 12 июня — День России;
- 4 ноября — День народного единства.

In [6]:
holidays_since_2013 = pd.DataFrame(data = {
    'month': [1]*8 + [2, 3, 5, 5, 6, 11],
    'day': list(range(1, 9)) + [23, 8, 1, 9, 12, 4]
    })

Ранее (в старой редакции) в Новогодние каникулы входили:
- 1, 2, 3, 4 и 5 января

In [7]:
holidays_till_2013 = pd.DataFrame(data = {
    'month': [1]*6 + [2, 3, 5, 5, 6, 11],
    'day': list(range(1, 6)) + [7] + [23, 8, 1, 9, 12, 4]
    })

Постановлениями Правительства РФ перенесены следующие выходные дни:

В 2015:
- с субботы 3 января на пятницу 9 января;
- с воскресенья 4 января на понедельник 4 мая.

[В 2021](https://www.consultant.ru/document/cons_doc_law_365179/):
- с субботы 2 января на пятницу 5 ноября;
- с воскресенья 3 января на пятницу 31 декабря;
- с субботы 20 февраля на понедельник 22 февраля.

[В 2022](https://www.consultant.ru/document/cons_doc_LAW_395538/):
- с субботы 1 января на вторник 3 мая;
- с воскресенья 2 января на вторник 10 мая;
- с субботы 5 марта на понедельник 7 марта.

[В 2023](http://www.consultant.ru/document/cons_doc_LAW_425407/):
- с воскресенья 1 января на пятницу 24 февраля;
- с воскресенья 8 января на понедельник 8 мая.

In [42]:
holidays = []

for year in years:
    days_and_months = holidays_till_2013 if (year <= 2012) else holidays_since_2013
    dates = []
    for index, row in days_and_months.iterrows():
        dates.append(date(year, row['month'], row['day']))
    holidays = holidays + dates

In [43]:
moved_weekends = \
    [date(2012, 1, 6),  date(2012, 1, 9),  date(2012, 3, 9)] + \
    [date(2012, 4, 30), date(2012, 5, 7),  date(2012, 5, 8)] + \
    [date(2012, 6, 11), date(2012, 11, 5), date(2012, 12, 31)] + \
    [date(2013, 2, 23), date(2013, 3, 8)] + \
    [date(2013, 5, 2),  date(2013, 5, 3), date(2013, 5, 10)] + \
    [date(2014, 3, 10)] + \
    [date(2014, 5, 2)] + \
    [date(2014, 6, 13), date(2014, 11, 3)] + \
    [date(2015, 1, 9)] + \
    [date(2015, 3, 9)] + \
    [date(2015, 5, 2)] + \
    [date(2015, 6, 13), date(2015, 11, 3)] + \
    [date(2016, 2, 22), date(2016, 3, 7)] + \
    [date(2016, 5, 2),  date(2016, 5, 3)] + \
    [date(2016, 6, 13)] + \
    [date(2017, 2, 24)] + \
    [date(2017, 5, 8)] + \
    [date(2017, 11, 6)] + \
    [date(2018, 3, 9)] + \
    [date(2018, 4, 30), date(2018, 5, 2)] + \
    [date(2018, 6, 11), date(2018, 11, 5), date(2012, 12, 31)] + \
    [date(2019, 5, 2),  date(2019, 5, 3),  date(2019, 5, 10)] + \
    [date(2020, 2, 24), date(2020, 3, 9)] + \
    [date(2020, 5, 4),  date(2020, 5, 5),  date(2020, 5, 11)] + \
    [date(2021, 2, 22)] + \
    [date(2021, 5, 3),  date(2021, 5, 10)] + \
    [date(2021, 6, 14), date(2021, 11, 5), date(2021, 12, 31)] + \
    [date(2022, 3, 7)] + \
    [date(2022, 5, 2),  date(2022, 5, 3),  date(2022, 5, 10)] + \
    [date(2022, 6, 13)] + \
    [date(2023, 2, 24)] + \
    [date(2023, 5, 8)] + \
    [date(2023, 11, 6)]

In [47]:
working_weekends = \
    [date(2012, 3, 11), date(2012, 4, 28), date(2012, 5, 5)] + \
    [date(2012, 5, 12), date(2012, 6, 9),  date(2012, 12, 29)] + \
    [date(2016, 2, 20)] + \
    [date(2018, 4, 28), date(2018, 6, 9),  date(2018, 12, 29)] + \
    [date(2021, 2, 20)] + \
    [date(2022, 3, 5)]

In [45]:
short_workdays = \
    [date(2012, 2, 22), date(2012, 3, 7),  date(2012, 4, 28)] + \
    [date(2012, 5, 12), date(2012, 6, 9),  date(2012, 12, 29)] + \
    [date(2013, 2, 22), date(2013, 3, 7),  date(2013, 4, 30)] + \
    [date(2013, 5, 8),  date(2013, 6, 11), date(2013, 12, 31)] + \
    [date(2014, 2, 24), date(2014, 3, 7),  date(2014, 4, 30)] + \
    [date(2014, 5, 8),  date(2014, 6, 11), date(2014, 12, 31)] + \
    [date(2015, 4, 30), date(2015, 5, 8),  date(2015, 6, 11)] + \
    [date(2015, 11, 3), date(2015, 12, 31)] + \
    [date(2016, 2, 20), date(2016, 11, 3)] + \
    [date(2017, 2, 22), date(2017, 3, 7),  date(2017, 11, 3)] + \
    [date(2018, 2, 22), date(2018, 3, 7),  date(2018, 4, 28)] + \
    [date(2018, 5, 8),  date(2018, 6, 9),  date(2018, 12, 29)] + \
    [date(2019, 2, 22), date(2019, 3, 7),  date(2019, 4, 30)] + \
    [date(2019, 5, 8),  date(2019, 6, 11), date(2019, 12, 31)] + \
    [date(2020, 6, 11), date(2020, 11, 3), date(2020, 12, 31)] + \
    [date(2021, 2, 20), date(2021, 6, 11)] + \
    [date(2022, 2, 22), date(2022, 3, 5),  date(2022, 11, 3)] + \
    [date(2023, 2, 22), date(2023, 3, 7),  date(2023, 11, 3)]

In [49]:
def get_weekdays(year):
    weekends = [] # Saturdays and Sundays
    workdays = [] # all other weekdays
    c = calendar.TextCalendar(calendar.MONDAY)
    for month in range(1, 13):
        for day in c.itermonthdays(year, month):
            #calendar constructs months with leading zeros (days belonging to the previous month)
            if day != 0:
                d = date(year, month, day)
                if d.weekday() == 6 or d.weekday() == 7: # if it is Saturday or Sunday
                    weekends.append(d)
                else:
                    workdays.append(d)
    return dict({'workdays': workdays, 'weekends': weekends})

In [52]:
work_days = set()
rest_days = set()

for year in years:
    all_days = get_weekdays(year)
    work_days = work_days.union(all_days['workdays'])
    rest_days = rest_days.union(all_days['weekends'])

holidays_set = set(holidays)
moved_weekends_set = set(moved_weekends)
working_weekends_set = set(working_weekends)
    
work_days = sorted(
    working_weekends_set.union(
        work_days.difference(holidays_set, moved_weekends_set)
    )
)

rest_days = sorted(
    holidays_set.union(
        moved_weekends_set,
        rest_days.difference(working_weekends_set)
    )
)

In [14]:
# for year in years:
#     for month in range(1, 13):
#         for day in our_calendar.itermonthdates(year, month):
#             if day in rest_days:
#                 print(f"{day} ({calendar.day_abbr[day.weekday()]})")
#             print(day)

### Проверка корректности генерации списков

In [62]:
summary = pd.read_excel('./work_and_rest_days.xlsx')
summary

    year  work_days  rest_days  work_time_40
0   2012        249        117          1986
1   2013        247        118          1970
2   2014        247        118          1970
3   2015        247        118          1971
4   2016        247        119          1974
5   2017        247        118          1973
6   2018        247        118          1970
7   2019        247        118          1970
8   2020        248        118          1979
9   2021        247        118          1972
10  2022        247        118          1973
11  2023        247        118          1973

In [63]:
get_summary = pd.DataFrame(data = {"year": summary.year})

In [56]:
def days_in_year(year):
    return 366 if calendar.isleap(year) else 365

In [64]:
get_summary['total_days'] = get_summary['year'].apply(days_in_year)

In [67]:
count_work_days = []
count_rest_days = []
count_short_workdays = []

for y in years:
    count_work_days.append(len([x for x in work_days if x.year == y]))
    count_rest_days.append(len([x for x in rest_days if x.year == y]))
    count_short_workdays.append(len([x for x in short_workdays if x.year == y]))

get_summary['work_days'] = count_work_days
get_summary['rest_days'] = count_rest_days
get_summary['short_workdays'] = count_short_workdays
get_summary['work_time_40'] = get_summary['work_days'] * 8 - get_summary['short_workdays']

In [68]:
get_summary

    year  total_days  work_days  rest_days  short_workdays  work_time_40
0   2012         366        295         71               6          2354
1   2013         365        297         68               6          2370
2   2014         365        297         68               6          2370
3   2015         365        296         69               5          2363
4   2016         366        298         68               2          2382
5   2017         365        297         68               3          2373
6   2018         365        296         69               6          2362
7   2019         365        297         68               6          2370
8   2020         366        298         68               3          2381
9   2021         365        295         70               2          2358
10  2022         365        297         68               3          2373
11  2023         365        297         68               3          2373

In [21]:
# this_year = date.today().year
# this_year

# Создание объектов

In [24]:
class WorkTable:
    def __init__(self, year):
        assert year >= 2012
        self.year = year
        self.weekdays = get_weekdays(self.year)
    
    def is_leap(self):
        return calendar.isleap(self.year)
    
    def total_days(self):
        return 366 if calendar.isleap(self.year) else 365

In [ ]:
# 366 if calendar.isleap(year) else 365