In [2]:
from datetime import date
import calendar
import pandas as pd

In [3]:
years = range(2012, 2024)

# Инициализация массивов с датами

Определим отдельно:
- праздничные дни;
- выходные дни, объявленные рабочими;
- дни отдыха, образовавшиеся в результате переноса выходного дня на будний день (из-за того, что с выходным днём совпал праздничный, или выходной был объявлен рабочим).

## Определяем праздники

Статьей 112 Трудового кодекса Российской Федерации (в редакции от 23.04.2012) установлены следующие нерабочие праздничные дни в Российской Федерации:
- 1, 2, 3, 4, 5, 6 и 8 января — Новогодние каникулы;
- 7 января — Рождество Христово;
- 23 февраля — День защитника Отечества;
- 8 марта — Международный женский день;
- 1 мая — Праздник Весны и Труда;
- 9 мая — День Победы;
- 12 июня — День России;
- 4 ноября — День народного единства.

In [4]:
holidays_since_2013 = pd.DataFrame(data = {
    'month': [1]*8 + [2, 3, 5, 5, 6, 11],
    'day': list(range(1, 9)) + [23, 8, 1, 9, 12, 4]
    })

Ранее (в старой редакции) в Новогодние каникулы входили:
- 1, 2, 3, 4 и 5 января

In [5]:
holidays_till_2013 = pd.DataFrame(data = {
    'month': [1]*6 + [2, 3, 5, 5, 6, 11],
    'day': list(range(1, 6)) + [7] + [23, 8, 1, 9, 12, 4]
    })

In [6]:
holidays = []

for year in years:
    days_and_months = holidays_till_2013 if (year <= 2012) else holidays_since_2013
    dates = []
    for index, row in days_and_months.iterrows():
        dates.append(date(year, row['month'], row['day']))
    holidays = holidays + dates

## Перенос выходных дней

Выходные дни переносились Постановлениями Правительства РФ.

В 2012 согласно постановлению [N 581](http://www.consultant.ru/document/cons_doc_LAW_127280/) и [N 201](http://www.consultant.ru/document/cons_doc_LAW_127263/):
- с воскресенья 11 марта на пятницу 9 марта,
- с субботы 28 апреля на понедельник 30 апреля (предпраздничный день),
- с субботы 5 мая на понедельник 7 мая,
- с субботы 12 мая на вторник 8 мая (предпраздничный день),
- с субботы 9 июня на понедельник 11 июня (предпраздничный день),
- с субботы 29 декабря на понедельник 31 декабря.

В 2013 согласно постановлению [N 1048](http://www.consultant.ru/document/cons_doc_LAW_136654/):
- с субботы 5 января на четверг 2 мая,
- с воскресенья 6 января на пятницу 3 мая,
- с понедельника 25 февраля на пятницу 10 мая.

В 2014 согласно постановлению [N 444](http://www.consultant.ru/document/cons_doc_LAW_146983/):
- с субботы 4 января на пятницу 2 мая,
- с воскресенья 5 января на пятницу 13 июня,
- с понедельника 24 февраля на понедельник 3 ноября.

В 2015 согласно постановлению [N 860](http://www.consultant.ru/document/cons_doc_LAW_167928/):
- с субботы 3 января на пятницу 9 января;
- с воскресенья 4 января на понедельник 4 мая.

В 2016 согласно постановлению [N 1017](http://www.consultant.ru/document/cons_doc_LAW_186505/):
- с субботы 2 января на вторник 3 мая,
- с воскресенья 3 января на понедельник 7 марта,
- с субботы 20 февраля на понедельник 22 февраля.

В 2017 согласно постановлению [N 756](http://www.consultant.ru/document/cons_doc_LAW_202871/):
- с воскресенья 1 января на пятницу 24 февраля,
- с субботы 7 января на понедельник 8 мая.

В 2018 согласно постановлению [N 1250](http://www.consultant.ru/document/cons_doc_LAW_280526/):
- с субботы 6 января на пятницу 9 марта,
- с воскресенья 7 января на среду 2 мая,
- с субботы 28 апреля на понедельник 30 апреля,
- с субботы 9 июня на понедельник 11 июня,
- с субботы 29 декабря на понедельник 31 декабря.

В 2019 согласно постановлению [N 1163](http://static.government.ru/media/files/RaPHbvWip9yaF5LQUCN4A6aYC6uZBUyw.pdf):
- с субботы 5 января на четверг 2 мая,
- с воскресенья 6 января на пятницу 3 мая,
- с субботы 23 февраля на пятницу 10 мая.

В 2020 согласно постановлению [N 875](https://www.consultant.ru/document/cons_doc_law_328918/):
- с субботы 4 января на понедельник 4 мая,
- с воскресенья 5 января на вторник 5 мая.

В 2021 согласно постановлению [N 1648](https://www.consultant.ru/document/cons_doc_law_365179/):
- с субботы 2 января на пятницу 5 ноября;
- с воскресенья 3 января на пятницу 31 декабря;
- с субботы 20 февраля на понедельник 22 февраля.

В 2022 согласно постановлению [N 1564](https://www.consultant.ru/document/cons_doc_LAW_395538/):
- с субботы 1 января на вторник 3 мая;
- с воскресенья 2 января на вторник 10 мая;
- с субботы 5 марта на понедельник 7 марта.

В 2023 согласно постановлению [N 1505](http://www.consultant.ru/document/cons_doc_LAW_425407/):
- с воскресенья 1 января на пятницу 24 февраля;
- с воскресенья 8 января на понедельник 8 мая.

In [7]:
moved_weekends = \
    [date(2012, 1, 6),  date(2012, 1, 9),  date(2012, 3, 9)] + \
    [date(2012, 4, 30), date(2012, 5, 7),  date(2012, 5, 8)] + \
    [date(2012, 6, 11), date(2012, 11, 5), date(2012, 12, 31)] + \
    [date(2013, 2, 23), date(2013, 3, 8)] + \
    [date(2013, 5, 2),  date(2013, 5, 3), date(2013, 5, 10)] + \
    [date(2014, 3, 10)] + \
    [date(2014, 5, 2)] + \
    [date(2014, 6, 13), date(2014, 11, 3)] + \
    [date(2015, 1, 9), date(2015, 3, 9)] + \
    [date(2015, 5, 4), date(2015, 5, 11)] + \
    [date(2016, 2, 22), date(2016, 3, 7)] + \
    [date(2016, 5, 2),  date(2016, 5, 3)] + \
    [date(2016, 6, 13)] + \
    [date(2017, 2, 24)] + \
    [date(2017, 5, 8)] + \
    [date(2017, 11, 6)] + \
    [date(2018, 3, 9), date(2018, 4, 30), date(2018, 5, 2)] + \
    [date(2018, 6, 11), date(2018, 11, 5), date(2018, 12, 31)] + \
    [date(2019, 5, 2),  date(2019, 5, 3),  date(2019, 5, 10)] + \
    [date(2020, 2, 24), date(2020, 3, 9)] + \
    [date(2020, 5, 4),  date(2020, 5, 5),  date(2020, 5, 11)] + \
    [date(2021, 2, 22)] + \
    [date(2021, 5, 3),  date(2021, 5, 10)] + \
    [date(2021, 6, 14), date(2021, 11, 5), date(2021, 12, 31)] + \
    [date(2022, 3, 7)] + \
    [date(2022, 5, 2),  date(2022, 5, 3),  date(2022, 5, 10)] + \
    [date(2022, 6, 13)] + \
    [date(2023, 2, 24)] + \
    [date(2023, 5, 8)] + \
    [date(2023, 11, 6)]

## Рабочие выходные дни

In [8]:
working_weekends = \
    [date(2012, 3, 11), date(2012, 4, 28), date(2012, 5, 5)] + \
    [date(2012, 5, 12), date(2012, 6, 9),  date(2012, 12, 29)] + \
    [date(2016, 2, 20)] + \
    [date(2018, 4, 28), date(2018, 6, 9),  date(2018, 12, 29)] + \
    [date(2021, 2, 20)] + \
    [date(2022, 3, 5)]

## Короткие рабочие дни

In [9]:
short_workdays = \
    [date(2012, 2, 22), date(2012, 3, 7),  date(2012, 4, 28)] + \
    [date(2012, 5, 12), date(2012, 6, 9),  date(2012, 12, 29)] + \
    [date(2013, 2, 22), date(2013, 3, 7),  date(2013, 4, 30)] + \
    [date(2013, 5, 8),  date(2013, 6, 11), date(2013, 12, 31)] + \
    [date(2014, 2, 24), date(2014, 3, 7),  date(2014, 4, 30)] + \
    [date(2014, 5, 8),  date(2014, 6, 11), date(2014, 12, 31)] + \
    [date(2015, 4, 30), date(2015, 5, 8),  date(2015, 6, 11)] + \
    [date(2015, 11, 3), date(2015, 12, 31)] + \
    [date(2016, 2, 20), date(2016, 11, 3)] + \
    [date(2017, 2, 22), date(2017, 3, 7),  date(2017, 11, 3)] + \
    [date(2018, 2, 22), date(2018, 3, 7),  date(2018, 4, 28)] + \
    [date(2018, 5, 8),  date(2018, 6, 9),  date(2018, 12, 29)] + \
    [date(2019, 2, 22), date(2019, 3, 7),  date(2019, 4, 30)] + \
    [date(2019, 5, 8),  date(2019, 6, 11), date(2019, 12, 31)] + \
    [date(2020, 4, 30), date(2020, 5, 8), date(2020, 6, 11)] + \
    [date(2020, 11, 3), date(2020, 12, 31)] + \
    [date(2021, 2, 20), date(2021, 4, 30)] + \
    [date(2021, 6, 11), date(2021, 11, 3)] + \
    [date(2022, 2, 22), date(2022, 3, 5),  date(2022, 11, 3)] + \
    [date(2023, 2, 22), date(2023, 3, 7),  date(2023, 11, 3)]

# Генерация общих списков с датами

In [10]:
def get_weekdays(year):
    weekends = [] # Saturdays and Sundays
    workdays = [] # all other weekdays
    c = calendar.TextCalendar(calendar.MONDAY)
    for month in range(1, 13):
        for day in c.itermonthdays(year, month):
            #calendar constructs months with leading zeros (days belonging to the previous month)
            if day != 0:
                d = date(year, month, day)
                if d.weekday() == 5 or d.weekday() == 6: # if it is Saturday or Sunday
                    weekends.append(d)
                else:
                    workdays.append(d)
    return dict({'workdays': workdays, 'weekends': weekends})

In [11]:
work_days = set()
rest_days = set()

for year in years:
    all_days = get_weekdays(year)
    work_days = work_days.union(all_days['workdays'])
    rest_days = rest_days.union(all_days['weekends'])

holidays_set = set(holidays)
moved_weekends_set = set(moved_weekends)
working_weekends_set = set(working_weekends)
    
work_days = sorted(
    working_weekends_set.union(
        work_days.difference(holidays_set, moved_weekends_set)
    )
)

rest_days = sorted(
    holidays_set.union(
        moved_weekends_set,
        rest_days.difference(working_weekends_set)
    )
)

## Проверка корректности генерации списков

In [12]:
# wd_2018 = [x for x in work_days if x.year == 2018]
# rd_2018 = [x for x in rest_days if x.year == 2018]
# for month in range(1, 13):
#     a1 = f"{len([x for x in wd_2018 if x.month == month])} wd"
#     a2 = f"{len([x for x in rd_2018 if x.month == month])} rd"
#     print(f"{month}: " + a1 + ", " + a2)

In [13]:
summary = pd.read_excel('./work_and_rest_days.xlsx')
summary

    year  work_days  rest_days  work_time_40
0   2012        249        117          1986
1   2013        247        118          1970
2   2014        247        118          1970
3   2015        247        118          1971
4   2016        247        119          1974
5   2017        247        118          1973
6   2018        247        118          1970
7   2019        247        118          1970
8   2020        248        118          1979
9   2021        247        118          1972
10  2022        247        118          1973
11  2023        247        118          1973

In [14]:
get_summary = pd.DataFrame(data = {"year": summary.year})

In [15]:
def days_in_year(year):
    return 366 if calendar.isleap(year) else 365

In [16]:
get_summary['total_days'] = get_summary['year'].apply(days_in_year)

In [17]:
count_work_days = []
count_rest_days = []
count_short_workdays = []

for y in years:
    count_work_days.append(len([x for x in work_days if x.year == y]))
    count_rest_days.append(len([x for x in rest_days if x.year == y]))
    count_short_workdays.append(len([x for x in short_workdays if x.year == y]))

get_summary['work_days'] = count_work_days
get_summary['rest_days'] = count_rest_days
get_summary['short_workdays'] = count_short_workdays
get_summary['work_time_40'] = get_summary['work_days'] * 8 - get_summary['short_workdays']

In [18]:
get_summary

    year  total_days  work_days  rest_days  short_workdays  work_time_40
0   2012         366        249        117               6          1986
1   2013         365        247        118               6          1970
2   2014         365        247        118               6          1970
3   2015         365        247        118               5          1971
4   2016         366        247        119               2          1974
5   2017         365        247        118               3          1973
6   2018         365        247        118               6          1970
7   2019         365        247        118               6          1970
8   2020         366        248        118               5          1979
9   2021         365        247        118               4          1972
10  2022         365        247        118               3          1973
11  2023         365        247        118               3          1973

In [19]:
diff = pd.DataFrame()
diff['year'] = get_summary['year']
diff['work_days'] = get_summary['work_days'] - summary['work_days']
diff['rest_days'] = get_summary['rest_days'] - summary['rest_days']
diff['work_time_40'] = get_summary['work_time_40'] - summary['work_time_40']

In [20]:
diff

    year  work_days  rest_days  work_time_40
0   2012          0          0             0
1   2013          0          0             0
2   2014          0          0             0
3   2015          0          0             0
4   2016          0          0             0
5   2017          0          0             0
6   2018          0          0             0
7   2019          0          0             0
8   2020          0          0             0
9   2021          0          0             0
10  2022          0          0             0
11  2023          0          0             0

# Создание объектов

In [21]:
class WorkTable:
    def __init__(self, year):
        assert year >= 2012
        self.year = year
        self.work_days = sorted([x for x in work_days if x.year == year])
        self.rest_days = sorted([x for x in rest_days if x.year == year])
        self.short_workdays = sorted([x for x in short_workdays if x.year == year])
        self.working_weekends = sorted([x for x in working_weekends if x.year == year])
        self.moved_weekends = sorted([x for x in moved_weekends if x.year == year]) 
        
    def workhours_year(self, daily_hours):
        return len(self.work_days)*daily_hours - len(self.short_workdays)
    
    def workhours_month(self, daily_hours, month):
        return len([x for x in self.work_days if x.month == month])*daily_hours - \
            len([x for x in self.short_workdays if x.month == month])

    def is_leap(self):
        return calendar.isleap(self.year)
    
    def days_year(self):
        return 366 if self.is_leap() else 365      
    
    def days_month(self, month):
        return calendar.monthrange(self.year, month)[1]
        
    def hours_month(self, month):
        return 24*self.days_month(month)

In [22]:
a = WorkTable(2018)

In [23]:
a.moved_weekends

[datetime.date(2018, 3, 9),
 datetime.date(2018, 4, 30),
 datetime.date(2018, 5, 2),
 datetime.date(2018, 6, 11),
 datetime.date(2018, 11, 5),
 datetime.date(2018, 12, 31)]